html, body {
    display: table;
    border: 0px;
    margin: 0px;
}

#the-canvas {
    background-repeat:no-repeat;
    background-position:left;
    direction: ltr;
}

#pdf_container
{
    display: table;
}